html * {
   color: #000;
   font-family: 'Space Mono';
}
div#page {
    margin: 2rem;
    padding: 2rem;
    border-radius: .4rem;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    box-shadow:
      1px 2px 2px hsl(220deg 60% 50% / 0.2),
      2px 4px 4px hsl(220deg 60% 50% / 0.2),
      4px 8px 8px hsl(220deg 60% 50% / 0.2),
      8px 16px 16px hsl(220deg 60% 50% / 0.2),
      16px 32px 32px hsl(220deg 60% 50% / 0.2);
}
.container {
    display: flex;
    flex-direction: column;
}

div.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
div.sub-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
div.divider {
    margin-top: .6rem;
}
.container .row {
    display: flex;
    justify-content: flex-start;
}
ul.basic-info {
    list-style: none;
}
li span.first-block {
    font-weight: bold;
}
a.btn {
    border: 1px solid #000;
    padding: .4rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
span.cta-block {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    padding: .4rem .8rem;
    margin-right: .4rem;
    border-radius: .2rem;
}
span.cta-block i {
    font-size: 1.2rem;
    padding-right: .4rem;
}
span.cta-block a {
    font-size: .8rem;
}
hr.solid {
    border: .08rem solid #000;
}
mark.small-text {
    font-size: .6rem;
}
p.download-section {
    margin-top: 2rem;
}

@media only screen and (max-width: 800px) {
    div.sub-header {
      flex-direction: column;
      align-items: flex-start;
    }
    div.header {
      flex-direction: column;
      align-items: flex-start;
    }

    div.sub-header span {
        display:block;
        margin-bottom: .4rem;
    }
  }
  
