/* @import url('https://fonts.googleapis.com/css?family=Finger+Paint');

body { 
    margin: 0; 
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    position: absolute;
}
.message-bubble-container {
    padding-left: 2em;
}
.message-bubble {
	position: relative;
	background: #C70039;
    border-radius: .4em;
    padding: 1em;
}


.message-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 78%;
	width: 0;
	height: 0;
	border: 0.688em solid transparent;
	border-left-color: #C70039;
	border-right: 0;
	margin-top: -0.687em;
	margin-right: -0.687em;
}
.message-text {
    color: #FFF;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Finger Paint', cursive;
}
.avatar-res {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .message-text {
        font-size: 0.8em;
    }
  }
  @media only screen and (max-width: 800px) {
    .message-text {
        font-size: 1.2em;
    }
  }
  @media only screen and (max-width: 1000px) {
    .message-text {
        font-size: 1.6em;
    }
  }
   */

.card {
    border: none;
}
.card-header {
    background-color: #fff;
    border-bottom: none;
    margin-bottom: 0;
    padding: 0;
}
.btn-link {
    font-weight: bold;
    color: 'green';
    text-decoration: none;
}
.btn-link:hover, .btn-link:active {
    text-decoration: none;
}
.card-body {
    padding: 0;
}
.btn {
    padding: 0;
    /* padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem; */
}



/*SELF WRITTEN*/
img.corpany_logo {
    width: 48px;
    height: auto;    
    margin: 1rem;
}

/*DOUGHNUT CHART*/
.chart-container {
    width: 80%;
    height: 480px;
    margin: 0 auto;
  }
  
  .pie-chart-container,
  .doughnut-chart-container {
    height: 360px;
    width: 360px;
    float: left;
  }

  
  .option-heading:before           { content: "<i class='fa fa-caret-right' aria-hidden='true'></i>"; }
.option-heading.is-active:before { content: "<i class='fa fa-caret-down' aria-hidden='true'></i>"; }

/* Helpers */
.is-hidden { display: none; }
